h1,h2,h3,h4,h5,figure,p,ol,ul {
    margin: 0;
}
  
ol,ul {
    list-style:circle;
    padding-inline: 0;
}
  
h1,h2,h3,h4,h5 {
    font-size: inherit;
    font-weight: inherit;
}

body{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    /* padding: 90px; */
}

.plus_circle {
    width: 30px;
    height: 30px;
    background-color: rgb(253 230 138);
    color: #000;
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}  